*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#0D0D0D;
color:white;
}

/* LOGIN */

#loginTela{

height:100vh;

display:flex;

justify-content:center;

align-items:center;
}

.login-box{

width:400px;

background:#181818;

padding:30px;

border-radius:20px;
}

.login-box h2{

text-align:center;

color:#D4AF37;

margin-bottom:20px;
}

.login-box input{

width:100%;

padding:15px;

margin-bottom:15px;

border:none;

border-radius:10px;

background:#222;

color:white;
}

.login-box button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#D4AF37;

font-weight:700;

cursor:pointer;
}

/* PAINEL */

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

background:#111;
}

header button{

padding:10px 20px;

background:red;

border:none;

color:white;

border-radius:10px;
}

.cadastro{

padding:30px;
}

.cadastro input,
.cadastro select{

width:100%;

padding:15px;

margin-bottom:15px;

border:none;

border-radius:10px;

background:#222;

color:white;
}

.cadastro button{

width:100%;

padding:15px;

border:none;

border-radius:10px;

background:#25D366;

color:white;

font-weight:700;
}

#listaProdutos{

padding:30px;
}

.produto-admin{

background:#181818;

padding:20px;

border-radius:15px;

margin-bottom:15px;
}

.produto-admin button{

margin-top:10px;

padding:10px;

border:none;

border-radius:10px;

background:red;

color:white;

cursor:pointer;
}