body{
background:#0d0d0d;
color:white;
font-family:Arial;
margin:0;
}
header{
text-align:center;
padding:30px;
}
.logo{
width:250px;
}
h1{
color:#d4af37;
}
.produtos{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}
.card{
background:#1a1a1a;
padding:20px;
border-radius:15px;
width:250px;
text-align:center;
border:2px solid #d4af37;
}
.card button{
background:#ff6600;
color:white;
border:none;
padding:10px;
cursor:pointer;
width:100%;
border-radius:10px;
}
.carrinho{
margin:40px;
padding:20px;
background:#1a1a1a;
border-radius:15px;
}
