.tabs{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:10px;
    padding:20px;
    background:#111;
    position:sticky;
    top:0;
    z-index:1000;
}

.tab-button{
    padding:12px 20px;
    border:none;
    border-radius:30px;
    background:#d4af37;
    color:#000;
    font-weight:bold;
    cursor:pointer;
}

.tab-button:hover{
    background:#ff6600;
    color:white;
}

.categoria{
    display:none;
}

.categoria.ativa{
    display:block;
}

.destaque{
    border:2px solid #ff6600;
}